
<div class="dropdown">
    <button class="dropbtn dropdown-toggle" id="btnMyDropDown"></button>
    <div id="myDropdown" class="dropdown-content"  style="text-align: center;align-items: center; vertical-align: middle;">
      <a (click)='deleteTurbine(turbine)'>{{ 'GSCLIMBING.DELETE' | translate }}</a>
      <a (click)='getTurbine(turbine.id)' class="btn" data-toggle="modal" data-target="#myModal">{{ 'GSCLIMBING.INSERT_REPORTS' | translate }}</a>
      <a (click)='editTurbine(turbine.id)' class="btn" data-toggle="modal" data-target="#myModalEdit">{{ 'GSCLIMBING.EDIT' | translate }}</a>
    </div>
</div>
