
$theme-colors: (
    "info": #9f123a,
    "dark": #f7f7f7,

  );

@import "../node_modules/bootstrap/scss/bootstrap";


html, body { height: 100%; background-color: #ffffff;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }