.lblHist {
    font-weight: bold;
    color      : #50091D;
}

.back_div {
    width     : 100%;
    text-align: right;
}

.img_title {
    width: 3%;
}

.img_back_bordeux {
    filter: invert(6%) sepia(86%) saturate(3551%) hue-rotate(335deg) brightness(92%) contrast(99%);
}

img.thumbnails {
    border       : 1px solid #ddd;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding      : 5px;
    /* Some padding */
    width        : 150px;
    /* Set a small width */
}

img.thumbnails:hover {
    box-shadow          : 0 0 2px 1px rgba(0, 140, 186, 0.5);
    /* Add a hover effect (blue shadow) */
    transform           : scale(3);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    position            : fixed;
    z-index             : 999;
}

.headcolor {
    background-color: hsl(343, 81%, 22%);
    color           : #ffffff;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: hsl(343, 41%, 97%);
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #ffffff;
}

.align_th {
    text-align: center;
}